<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"/>
    <title>Main</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul id="flashed">
			{% for message in messages %}
				<span class="error">{{message}}</span>
			{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
    <div id='menu'>
		<ul class="menu">
            <li class="home">
                <a>BASE</a>
                {% if not user_id %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% else %}
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </li>
            <li class="actions">
                <a>Actions</a>
                {% if User.query.get(user_id).role == ROLE_USER %}
                    <a href="{{ url_for('new_operation') }}">New operation</a>
                {% else %}
                    <ul class="menu">
                        <li class="ware-storage">
                            <a>Ware-Storage tables</a>
                            {% for storage in Storage.query.all() %}
                                <a href="{{ url_for('storage_ware', id=storage.id) }}">Storage #{{ storage.id }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                    <a href="{{ url_for('client_info') }}">Clients</a>
                {% endif %}
                 <a href="{{ url_for('storage_info') }}">Storages info</a>
            </li>
            <li class="settings">
                <a>Statistics</a>
                <a>Storages count: {{Storage.query.all()|count}}</a>
                <a>Operations count: {{Operation.query.all()|count}}</a>
                <a>Clients count: {{Client.query.all()|count}}</a>
                <a>Wares count: {{Ware.query.all()|count}}</a>
            </li>
		</ul>
	</div>
    {% block form %}{% endblock %}

</body>
</html>