{% extends "base.html" %}

{% block content %}
<h1>Find subject</h1>
<form action="" method="post" name="subject">
    {{form.hidden_tag()}}
    <p>
        Subject's name:<br>
        {{ form.name }}<br>
        {% for error in form.errors.name %}
        <span class="error">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Semesters:<br>
        {{ form.semesters }}<br>
        {% for error in form.errors.semesters %}
        <span class="error">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" class="form-element button" value="Send"></p>
</form>
{% endblock %}
