{% extends "storage_ware.html"%}
{% block handle_request %}
<h1>REQUEST - {{ request.operation_type }} {{ request.date_time }}</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <table class="request">
        <tr><th>Ware</th><th>Count</th><th>ToStorage:</th></tr>
        {% for opw in request.op_ware %}
            <tr>
                <td>{{ Ware.query.get(opw.ware_id).name }}</td> <td>{{ opw.ware_count }}</td>
                <td>
                    {{ form.inputs.append_entry()(size=12) }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" class="form-element button" value="Handle">
</form>
{% endblock %}