{% extends "base.html" %}

{% block content %}
<h1>Password changer</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Enter your new password:<br>
        {{form.password(size=50)}}<br>
        {% for error in form.errors.password %}
        <span class="error">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Re-enter your new password:<br>
        {{form.double_password(size=50)}}<br>
        {% for error in form.errors.double_password %}
         <span class="error">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Enter your current password:<br>
        {{form.special_password(size=50)}}<br>
        {% for error in form.errors.special_password %}
         <span class="error">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" class="form-element button" value="Change"></p>
</form>
{% endblock %}