{% extends "base.html"%}

{% block form %}
<form action="" method="post" name="login">
    {{ ad_form.hidden_tag() }}
    {% for storage in Storage.query.all() %}
        <h1>STORAGE #{{storage.id}}</h1>
            <table class="storage">
                <tr><th>Ware</th><th>Count</th></tr>
                {% for stw in storage.st_ware %}
                    <tr>
                        <td>{{ Ware.query.get(stw.ware_id).name }}</td>
                        <td>{%if stw.ware_count != 0 %} {{ stw.ware_count }} {% else %} Не в наличии {% endif %}</td>
                        {% if not request %}
                            <td>
                                {{ ad_form.append_data(stw.ware_count) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
    {% endfor %}
    <input type="submit">
</form>
{% if request %}
    <div class="request">
        {% block handle_request %}
        {% endblock %}
    </div>
{% endif %}

{% endblock %}